CCWeek6PC.json
[{"id":"66739a98.782794","type":"tab","label":"CCWeek6PC","disabled":false,"info":""},{"id":"7853d41f.6b343c","type":"ibmiot in","z":"66739a98.782794","authentication":"boundService","apiKey":"54c8fa0f.921824","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"senb08002738bffb","applicationId":"","deviceType":"senseHat","eventType":"+","commandType":"statusindicator","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":100,"y":180,"wires":[["b3fd132e.3f957","1d66ec05.8214b4","79f06418.9260ac","1154333.819d4cd"]]},{"id":"b3fd132e.3f957","type":"debug","z":"66739a98.782794","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":310,"y":240,"wires":[]},{"id":"6b5a1f7.146d6e","type":"ibmiot out","z":"66739a98.782794","d":true,"authentication":"boundService","apiKey":"54c8fa0f.921824","outputType":"cmd","deviceId":"0800274fcc4c","deviceType":"raspberryPi","eventCommandType":"statusindicator","format":"json","data":"{ }","qos":0,"name":"IBM IoT","service":"registered","x":720,"y":340,"wires":[]},{"id":"38fcd1df.56f34e","type":"inject","z":"66739a98.782794","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Normal","payloadType":"str","x":90,"y":440,"wires":[["ec461d26.69903"]]},{"id":"498bd34b.07d34c","type":"inject","z":"66739a98.782794","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Alert","payloadType":"str","x":100,"y":380,"wires":[["ec461d26.69903"]]},{"id":"ec461d26.69903","type":"function","z":"66739a98.782794","d":true,"name":"formatMessage","func":"msg.payload={\"a\":{\"indicator\":msg.payload}};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":340,"wires":[["a32315af.eb8c38"]]},{"id":"a32315af.eb8c38","type":"json","z":"66739a98.782794","d":true,"name":"","property":"payload","action":"","pretty":false,"x":530,"y":340,"wires":[["6b5a1f7.146d6e"]]},{"id":"9fc19f76.f8235","type":"ui_button","z":"66739a98.782794","name":"","group":"6f3ca7d.ac98058","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":80,"y":540,"wires":[[]]},{"id":"1d66ec05.8214b4","type":"function","z":"66739a98.782794","name":"Temp","func":"msg.payload=msg.payload.d.Data.Environment.temperature;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":40,"wires":[["a9109315.cdcb7"]]},{"id":"79f06418.9260ac","type":"function","z":"66739a98.782794","name":"Humidity","func":"msg.payload=msg.payload.d.Data.Environment.humidity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":80,"wires":[["72eaee90.d1751"]]},{"id":"1154333.819d4cd","type":"function","z":"66739a98.782794","name":"Pressure","func":"msg.payload=msg.payload.d.Data.Environment.pressure;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":140,"wires":[["8c160f49.5730e"]]},{"id":"a9109315.cdcb7","type":"ui_gauge","z":"66739a98.782794","name":"temp","group":"6f3ca7d.ac98058","order":1,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#4b914b","#d9d945","#7d2121"],"seg1":"","seg2":"","x":490,"y":40,"wires":[]},{"id":"72eaee90.d1751","type":"ui_gauge","z":"66739a98.782794","name":"humidity","group":"6f3ca7d.ac98058","order":1,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#4b914b","#d9d945","#7d2121"],"seg1":"","seg2":"","x":513,"y":86,"wires":[]},{"id":"8c160f49.5730e","type":"ui_gauge","z":"66739a98.782794","name":"pressure","group":"6f3ca7d.ac98058","order":1,"width":0,"height":0,"gtype":"gage","title":"pressure","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#4b914b","#d9d945","#7d2121"],"seg1":"","seg2":"","x":520,"y":140,"wires":[]},{"id":"54c8fa0f.921824","type":"ibmiot","z":0,"name":"connect","keepalive":"120","serverName":"connect.org","cleansession":true,"appId":"connect","shared":false},{"id":"6f3ca7d.ac98058","type":"ui_group","z":"","name":"Default","tab":"54ef3043.eb2b1","order":1,"disp":true,"width":"6","collapse":false},{"id":"54ef3043.eb2b1","type":"ui_tab","z":"","name":"Environment","icon":"dashboard","order":1,"disabled":false,"hidden":false}]