Week5RaspPi.json
[{"id":"6ee0a894.f7b6a8","type":"tab","label":"Week5RaspPi","disabled":false,"info":""},{"id":"9c372194.c9a28","type":"wiotp in","z":"6ee0a894.f7b6a8","authType":"d","deviceKey":"f5362c60.a056b","deviceType":"","deviceId":"","command":"+","commandType":"g","qos":0,"name":"","x":100,"y":280,"wires":[["308441fa.22186e"]]},{"id":"308441fa.22186e","type":"debug","z":"6ee0a894.f7b6a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":320,"y":280,"wires":[]},{"id":"7130ecbc.d4a4d4","type":"rpi-sensehatsim in","z":"6ee0a894.f7b6a8","name":"","motion":false,"env":true,"stick":false,"x":80,"y":400,"wires":[["fee2e426.a3b9a8"]]},{"id":"fee2e426.a3b9a8","type":"delay","z":"6ee0a894.f7b6a8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":400,"wires":[["3c65e087.0877c"]]},{"id":"3c65e087.0877c","type":"function","z":"6ee0a894.f7b6a8","name":"envData","func":"msg.payload={\"Data\": {\"Environment\" : msg.payload}};\nmsg.deviceType=\"senseHat\";\nmsg.deviceID=\"senb08002738bffb\";\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":400,"wires":[["670f2b4d.680164","6419c70c.1c4418"]]},{"id":"6419c70c.1c4418","type":"debug","z":"6ee0a894.f7b6a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":680,"y":400,"wires":[]},{"id":"c6e4d4a0.1eb768","type":"function","z":"6ee0a894.f7b6a8","name":"envData","func":"msg.payload={\"Data\": {\"Environment\" : msg.payload}};\nmsg.deviceType=\"senseHat\";\nmsg.deviceID=\"senb0800274fcc4c\";\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":300,"wires":[[]]},{"id":"670f2b4d.680164","type":"wiotp out","z":"6ee0a894.f7b6a8","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"23158d16.77c872","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"send","x":670,"y":560,"wires":[]},{"id":"f5362c60.a056b","type":"wiotp-credentials","z":"","name":"","org":"nmy089","serverName":"","devType":"raspberryPi","devId":"0800274fcc4c","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"23158d16.77c872","type":"wiotp-credentials","z":"","name":"","org":"nmy089","serverName":"","devType":"raspberryPiGW","devId":"08002738bffb","keepalive":"60","cleansession":true,"tls":"","usetls":false}]